<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Esferas de link</title>
 <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="esfera1" class="esfera"></div>
  <div id="esfera2" class="esfera2"></div>
  <div id="esfera3" class="esfera3"></div>



<script src="index.js"></script>
</body>
</html>